<footer class="bottom">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>LOCATION</h2>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
          <h2>AROUND THE WEB</h2>
          <div class="sochal">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-solid fa-globe "></i>
          </div>
        </div>
        <div class="col-md-4 ">
          <h2>ABOUT FREELANCER</h2>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="info">
    <p>Copyright ©By Ahmed-Eleim 2024</p>
  </div>
</footer>
